---
import { Image } from 'astro:assets';

import { lunalink } from '@bearstudio/lunalink';
import type { GetStaticPathsOptions } from 'astro';

import { getBlogCollection } from '@/lib/blog';
import FormattedDate from '@/components/formatted-date.astro';
import Pagination from '@/components/pagination.astro';
import SEO from '@/components/seo/index.astro';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const newsPages = await getBlogCollection();
  return paginate(newsPages, { pageSize: 19 });
}

const { page } = Astro.props;
---

<MainLayout>
  <!-- [TODO]: Metadata -->
  <SEO
    slot="seo"
    title="Blog"
    description="Retrouvez les articles de BearStudio sur le développement web et mobile, les technologies, et bien plus encore."
  />
  <div class="flex flex-1 flex-col">
    <div class="mx-auto w-full max-w-screen-lg pb-40">
      <Pagination page={page}>
        <div class="grid gap-4 px-6 md:grid-cols-2">
          {
            page.data.map((post) => (
              <a
                href={lunalink(ROUTES.fr.blog['posts'][':id'].__path, {
                  id: post.id,
                })}
              >
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.date} />
                </p>
              </a>
            ))
          }
        </div>
      </Pagination>
    </div>
  </div>
</MainLayout>
