---
import { getLink } from '@/lib/link';
import { getSkillsCollectionWithIcons } from '@/lib/skills';
import { cn } from '@/lib/tailwind/utils';
import { buttonVariants } from '@/components/ui/button';
import type { Locale } from '@/i18n/utils';

interface Props {
  locale: Locale;
  skills: Array<string>;
  class?: string;
}

const { locale, skills: skillNames, class: className } = Astro.props;

const skills = await getSkillsCollectionWithIcons(skillNames, locale);
---

<div class={cn('flex flex-col gap-2', className)}>
  <h4 class="font-heading font-medium">Skills</h4>
  <div class="flex flex-wrap gap-2 md:flex-col">
    {
      skills.map((skill) => {
        const slug = skill.filePath?.split('/').at(-2) ?? '';
        return (
          <a
            href={getLink('/fr/expertise/:id', locale, { id: slug })}
            class={cn(buttonVariants({ variant: 'secondary', size: 'sm' }))}
          >
            {skill.data.name}
          </a>
        );
      })
    }
  </div>
</div>
