---
import SEO from '@/components/seo/index.astro';
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout>
  <SEO slot="seo" title="Nos prestations en développement et UX/UI Design" />
  <div class="lg:pt-20">PLACEHOLDER</div>
</MainLayout>
