---
import { getLink } from '@/lib/link';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import HeroContent from '@/components/ui/hero-content.astro';
import Hero from '@/components/ui/hero.astro';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
---

<MainLayout>
  <SEO
    slot="seo"
    alternates={getAlternates(ROUTES.fr.prestations['ux-design'].__path, {})}
  />
  <Hero>
    <HeroContent>
      <BreadcrumbBase slot="breadcrumb" locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbLink href={getLink('/fr/prestations', locale, {})}>
            {t('services.root.hero.breadcrumb')}
          </BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage
            >{t('services.uxDesign.hero.breadcrumb')}</BreadcrumbPage
          >
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('services.uxDesign.hero.title')}
      </h1>
      <p class="max-w-[60ch] text-sm text-balance opacity-80">
        {t('services.uxDesign.hero.description')}
      </p>
    </HeroContent>
  </Hero>
</MainLayout>
