---
import { lunalink } from '@bearstudio/lunalink';
import type { GetStaticPathsOptions } from 'astro';

import { getSkillsCollection } from '@/lib/skills';
import Pagination from '@/components/Pagination.astro';
import SEO from '@/components/SEO/index.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { ROUTES } from '@/routes.gen';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const skills = await getSkillsCollection();
  return paginate(skills, { pageSize: 2 });
}
const { page } = Astro.props;
---

<MainLayout>
  <!-- [TODO]: Metadata -->
  <SEO slot="seo" title="Compétences" noindex={page.data.length === 0} />
  <div class="mx-auto w-full max-w-screen-xl px-4">
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
      <Pagination page={page} class="md:col-span-2 lg:col-span-3">
        {
          page.data.map((conference) => (
            <a
              href={lunalink(ROUTES.skills[':id'].__path, {
                id: conference.id,
              })}
            >
              {conference.data.name}
            </a>
          ))
        }
      </Pagination>
    </div>
  </div>
</MainLayout>
