---
import { lunalink } from '@bearstudio/lunalink';

import { cn } from '@/lib/tailwind/utils';
import { buttonVariants } from '@/components/ui/button';
import Hero from '@/components/ui/hero.astro';
import { Polaroid } from '@/components/ui/polaroid';
import { TiltedCard } from '@/components/ui/tilted-card';
import MainLayout from '@/layouts/main-layout.astro';
import { HomePolaroids } from '@/pages/_partials/home-polaroids';
import { ROUTES } from '@/routes.gen';
---

<MainLayout>
  <Hero contentClassName="min-h-[65vh] lg:min-h-[80vh">
    <div
      class="mx-auto flex w-full max-w-5xl flex-1 items-center justify-center gap-6 max-lg:pb-24"
    >
      <div
        class="flex flex-1 flex-col justify-center gap-4 max-lg:items-center max-lg:text-center lg:gap-6"
      >
        <h1
          class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
        >
          De l’idée à la mise en production
        </h1>
        <div
          class="flex max-w-md flex-wrap gap-2 max-lg:items-center max-lg:justify-center"
        >
          <a
            href={lunalink(ROUTES.en.blog.__path, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            UX/UI Design
          </a>
          <a
            href={lunalink(ROUTES.en.blog.__path, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            Dev Web
          </a>
          <a
            href={lunalink(ROUTES.en.blog.__path, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            Dev Mobile
          </a>
          <a
            href={lunalink(ROUTES.en.blog.__path, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            Boost Projet
          </a>
          <a
            href={lunalink(ROUTES.en.blog.__path, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            Accompagnement UX
          </a>
          <a
            href={lunalink(ROUTES.en.blog.__path, {})}
            class={cn(
              buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
            )}
          >
            Accompagnement CTO
          </a>
        </div>
      </div>

      <div
        class="relative -mr-12 grid flex-[0.8] grid-cols-2 flex-wrap items-center justify-center gap-x-8 gap-y-7 max-lg:hidden"
      >
        <a
          href={lunalink(ROUTES.en.blog.__path, {})}
          class="flex w-full translate-x-2 rotate-6"
        >
          <TiltedCard
            className="w-full"
            client:load
            scaleOnHover={1.2}
            rotateAmplitude={20}
          >
            <Polaroid src="/images/ivan-talk-ces-25.jpeg">
              Nos conférences de Codeurs en Seine 2026
            </Polaroid>
          </TiltedCard>
        </a>
        <a
          href={lunalink(ROUTES.en.blog.__path, {})}
          class="flex w-full -translate-y-2 -rotate-5"
        >
          <TiltedCard
            className="w-full"
            client:load
            scaleOnHover={1.2}
            rotateAmplitude={20}
          >
            <Polaroid src="/images/bearstudio-house.jpeg">
              La tanière
            </Polaroid>
          </TiltedCard>
        </a>
        <a
          href={lunalink(ROUTES.en.blog.__path, {})}
          class="flex w-full translate-y-2 -rotate-4"
        >
          <TiltedCard
            className="w-full"
            client:load
            scaleOnHover={1.2}
            rotateAmplitude={20}
          >
            <Polaroid src="/images/london-25.jpeg">
              React Advanced Conference London 2026
            </Polaroid>
          </TiltedCard>
        </a>
        <a
          href={lunalink(ROUTES.en.blog.__path, {})}
          class="flex w-full -translate-x-1 -translate-y-2 rotate-3"
        >
          <TiltedCard
            className="w-full"
            client:load
            scaleOnHover={1.2}
            rotateAmplitude={20}
          >
            <Polaroid src="/images/forkids-rouen-2.jpeg">
              Fork it! For Kids à Rouen
            </Polaroid>
          </TiltedCard>
        </a>
      </div>
    </div>
  </Hero>

  <div class="-mt-32 w-full lg:hidden">
    <HomePolaroids client:load />
  </div>

  <div class="mx-auto max-w-5xl p-4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
  </div>

  <div class="flex h-[2000px] flex-col gap-4 p-4"></div>
</MainLayout>
