---
import { getImage } from 'astro:assets';

import { getLink } from '@/lib/link';
import type { SkillWithComputed } from '@/lib/skills';
import { parseAstroLocale } from '@/i18n/utils';

import AnimatedBanner from '../ui/animated-banner.astro';
import defaultImg from './default.jpeg';

interface Props {
  skill: SkillWithComputed;
}

const locale = parseAstroLocale(Astro.currentLocale);
const props = Astro.props;

const iconImage = props.skill.icon
  ? await getImage({
      src: props.skill.icon.data.image,
      width: 96,
      height: 96,
    })
  : null;
---

<a
  href={getLink('/fr/expertise/:id', locale, {
    id: props.skill.data._computed.slug,
  })}
  class="bg-card group border-card-border relative flex flex-1 flex-col gap-2.5 rounded-md border border-b-3 p-2 transition-all hover:-translate-y-1.5 hover:shadow-xl"
>
  <div class="bg-brand-900 relative aspect-video w-full rounded-sm">
    {
      iconImage && (
        <AnimatedBanner
          image={props.skill.icon.data.image ?? defaultImg}
          text={props.skill.data.name}
        />
      )
    }
  </div>
  <div class="flex flex-1 flex-col gap-1 px-1.5 py-1">
    <h2 class="font-heading line-clamp-2 text-lg leading-tight font-bold">
      {props.skill.data.name}
    </h2>
    <div class="text-xs leading-relaxed">
      <p>
        {props.skill.data.description}
      </p>
    </div>
  </div>
</a>
