---
import { Image } from 'astro:assets';

import { lunalink } from '@bearstudio/lunalink';

import { getLink } from '@/lib/link';
import { getTeamCollection } from '@/lib/team';
import SEO from '@/components/seo/index.astro';
import SchemaBreadcrumb from '@/components/seo/schema-breadcrumb.astro';
import { getAlternates } from '@/components/seo/utils';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbPage,
} from '@/components/ui/breadcrumb';
import HeroContent from '@/components/ui/hero-content.astro';
import Hero from '@/components/ui/hero.astro';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
const teamCurrent = await getTeamCollection({
  locale,
  status: 'current',
});
---

<MainLayout>
  <SEO
    slot="seo"
    title="Team"
    alternates={getAlternates(ROUTES.fr.equipe.__path, {})}
  />
  <SchemaBreadcrumb
    slot="breadcrumb"
    items={[
      {
        id: getLink('/fr/equipe', locale, {}, true),
        name: t('team.root.hero.breadcrumb'),
      },
    ]}
  />
  <Hero>
    <HeroContent>
      <BreadcrumbBase slot="breadcrumb" locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbPage>{t('team.root.hero.breadcrumb')}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('team.root.hero.title')}
      </h1>
      <p class="max-w-[60ch] text-sm text-balance opacity-80">
        {t('team.root.hero.description')}
      </p>
    </HeroContent>
  </Hero>

  <div class="relative mx-auto -mt-16 w-full max-w-5xl p-6 md:-mt-24">
    <div class="xs:grid-cols-2 grid gap-4 md:grid-cols-3 lg:grid-cols-4">
      {
        teamCurrent.map((person) => (
          <a
            href={getLink('/fr/equipe/:id', locale, {
              id: person.data._computed.slug,
            })}
            class="bg-card border-card-border flex flex-col gap-2 overflow-hidden rounded-md border border-b-3 p-2 transition-all hover:-translate-y-1.5 hover:shadow-xl"
          >
            <div class="from-brand-900 to-brand-800 relative aspect-square w-full overflow-hidden rounded-sm bg-gradient-to-b">
              {!!person.data.picture && (
                <Image
                  src={person.data.picture}
                  alt=""
                  class="absolute inset-0 h-full w-full object-cover drop-shadow-lg"
                  width={1200}
                  height={1200}
                />
              )}
            </div>
            <div class="flex flex-1 flex-col gap-1 px-1">
              <h2 class="font-heading text-lg leading-tight font-bold">
                {person.data.name}
              </h2>
              <p class="text-xs">{person.data.job}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</MainLayout>
