---
import { lunalink } from '@bearstudio/lunalink';

import { getCurrentTeamCollection } from '@/lib/team';
import SEO from '@/components/seo/index.astro';
import { parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

const team = await getCurrentTeamCollection({
  lang: parseAstroLocale(Astro.currentLocale),
});
---

<MainLayout>
  <!-- [TODO]: SEO -->
  <SEO slot="seo" title="Team" />
  <div class="flex flex-1 flex-col lg:pt-20">
    <div class="mx-auto w-full max-w-screen-lg px-6 pb-20 lg:pt-20 lg:pb-0">
      <div class="grid gap-4 px-6 md:grid-cols-3">
        {
          team.map((person) => (
            <a
              href={lunalink(ROUTES.fr.equipe[':id'].__path, {
                id: person.data._computed.slug,
              })}
            >
              {person.data.name}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</MainLayout>
