---
import { getLink } from '@/lib/link';
import { getTeamCollection } from '@/lib/team';
import SEO from '@/components/seo/index.astro';
import SchemaBreadcrumb from '@/components/seo/schema-breadcrumb.astro';
import { getAlternates } from '@/components/seo/utils';
import TeamMemberCard from '@/components/team/team-member-card.astro';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbPage,
} from '@/components/ui/breadcrumb';
import HeroContent from '@/components/ui/hero-content.astro';
import Hero from '@/components/ui/hero.astro';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
const teamCurrent = await getTeamCollection({
  locale,
  status: 'current',
});
const teamAdvisor = await getTeamCollection({
  locale,
  status: 'advisor',
});
---

<MainLayout>
  <SEO slot="seo" title="Team" alternates={getAlternates('/fr/equipe', {})} />
  <SchemaBreadcrumb
    slot="breadcrumb"
    items={[
      {
        id: getLink('/fr/equipe', locale, {}, true),
        name: t('team.root.hero.breadcrumb'),
      },
    ]}
  />
  <Hero>
    <HeroContent>
      <BreadcrumbBase slot="breadcrumb" locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbPage>{t('team.root.hero.breadcrumb')}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('team.root.hero.title')}
      </h1>
      <p class="max-w-[60ch] text-sm text-balance opacity-80">
        {t('team.root.hero.description')}
      </p>
    </HeroContent>
  </Hero>

  <div
    class="relative mx-auto -mt-16 flex w-full max-w-5xl flex-col gap-12 p-6 md:-mt-24"
  >
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4">
      {teamCurrent.map((member) => <TeamMemberCard member={member} />)}
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h2 class="font-heading text-xl font-bold">
          Les conseillers du BearStudio
        </h2>
        <p>
          Parce qu'il est important de prendre du recul, le BearStudio a
          constitué un noyau d'advisors expérimentés dont le rôle est de
          compléter et de challenger l'équipe principale.
        </p>
      </div>
      <div class="xs:grid-cols-2 grid gap-4 md:grid-cols-3 lg:grid-cols-4">
        {teamAdvisor.map((member) => <TeamMemberCard member={member} />)}
      </div>
    </div>
  </div>
</MainLayout>
