---
import { getPeopleCollection } from '@/lib/people';
import { breadcrumbEntries } from '@/components/breadcrumb/utils';
import Container from '@/components/container.astro';
import HeroContent from '@/components/hero/hero-content.astro';
import Hero from '@/components/hero/hero.astro';
import PeopleGrid from '@/components/people/people-grid.astro';
import PersonCard from '@/components/people/person-card.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
const peopleCurrent = await getPeopleCollection({
  locale,
  status: 'current',
});
const peopleAdvisor = await getPeopleCollection({
  locale,
  status: 'advisor',
});

const breadcrumb = breadcrumbEntries(locale)((entry) => [
  entry({
    label: t('team.root.breadcrumb'),
    path: '/fr/equipe',
    params: {},
  }),
]);
---

<MainLayout>
  <SEO
    slot="seo"
    title={t('team.root.title')}
    description={t('team.root.description')}
    alternates={getAlternates('/fr/equipe', {})}
    breadcrumb={breadcrumb}
  />

  <Hero>
    <HeroContent
      breadcrumb={breadcrumb}
      title={t('team.root.title')}
      description={t('team.root.description')}
    />
  </Hero>

  <Container placement="overlapHero" class="gap-12">
    <PeopleGrid>
      {
        peopleCurrent.map(async (person) => (
          <PersonCard hover="hard" person={person} />
        ))
      }
    </PeopleGrid>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <h2 class="font-heading text-2xl font-bold">
          Les conseillers du BearStudio
        </h2>
        <p class="max-w-[70ch] text-sm text-balance opacity-80">
          Parce qu'il est important de prendre du recul, le BearStudio a
          constitué un noyau d'advisors expérimentés dont le rôle est de
          compléter et de challenger l'équipe principale.
        </p>
      </div>
      <PeopleGrid>
        {
          peopleAdvisor.map(async (person) => (
            <PersonCard hover="hard" person={person} />
          ))
        }
      </PeopleGrid>
    </div>
  </Container>
</MainLayout>
