---
import { lunalink } from '@bearstudio/lunalink';

import { getCurrentTeamCollection } from '@/lib/team';
import SEO from '@/components/seo/index.astro';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbPage,
} from '@/components/ui/breadcrumb';
import Hero from '@/components/ui/hero.astro';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
const team = await getCurrentTeamCollection({
  lang: parseAstroLocale(Astro.currentLocale),
});
---

<MainLayout>
  <!-- [TODO]: SEO -->
  <SEO
    slot="seo"
    title="Team"
    alternates={{
      fr: Astro.url.toString(),
      en: lunalink(ROUTES.en.team.__path, {}, { baseURL: Astro.url.origin }),
    }}
  />
  <Hero>
    <div
      class="flex flex-col items-center justify-center gap-2 text-center lg:items-start lg:gap-4 lg:text-left"
    >
      <BreadcrumbBase locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbPage>{t('team.root.hero.breadcrumb')}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('team.root.hero.title')}
      </h1>
    </div>
  </Hero>
  <div class="flex flex-1 flex-col lg:pt-20">
    <div class="mx-auto w-full max-w-screen-lg px-6 pb-20 lg:pt-20 lg:pb-0">
      <div class="grid gap-4 px-6 md:grid-cols-3">
        {
          team.map((person) => (
            <a
              href={lunalink(ROUTES.fr.equipe[':id'].__path, {
                id: person.data._computed.slug,
              })}
            >
              {person.data.name}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</MainLayout>
