---
import { getPeopleCollection } from '@/lib/people';
import { breadcrumbEntries } from '@/components/breadcrumb/utils';
import HeroContent from '@/components/hero/hero-content.astro';
import Hero from '@/components/hero/hero.astro';
import PersonCard from '@/components/people/person-card.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
const peopleCurrent = await getPeopleCollection({
  locale,
  status: 'current',
});
const peopleAdvisor = await getPeopleCollection({
  locale,
  status: 'advisor',
});

const breadcrumb = breadcrumbEntries(locale)((entry) => [
  entry({
    label: t('team.root.breadcrumb'),
    path: '/fr/equipe',
    params: {},
  }),
]);
---

<MainLayout>
  <SEO
    slot="seo"
    title="Team"
    alternates={getAlternates('/fr/equipe', {})}
    breadcrumb={breadcrumb}
  />

  <Hero>
    <HeroContent
      breadcrumb={breadcrumb}
      title={t('team.root.title')}
      description={t('team.root.description')}
    />
  </Hero>

  <div
    class="relative mx-auto -mt-16 flex w-full max-w-5xl flex-col gap-12 p-6 md:-mt-24"
  >
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4">
      {peopleCurrent.map((person) => <PersonCard person={person} />)}
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h2 class="font-heading text-xl font-bold">
          Les conseillers du BearStudio
        </h2>
        <p>
          Parce qu'il est important de prendre du recul, le BearStudio a
          constitué un noyau d'advisors expérimentés dont le rôle est de
          compléter et de challenger l'équipe principale.
        </p>
      </div>
      <div class="xs:grid-cols-2 grid gap-4 md:grid-cols-3 lg:grid-cols-4">
        {peopleAdvisor.map((person) => <PersonCard person={person} />)}
      </div>
    </div>
  </div>
</MainLayout>
