---
import { cn } from '@/lib/tailwind/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn('text-sm leading-relaxed text-brand-200', className)}>
  <slot />
</div>
