---
import { cn } from '@/lib/tailwind/utils';

interface Props {
  title?: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<div class={cn('flex flex-col gap-3', className)}>
  {title && (
    <span class="text-sm font-normal text-brand-200">
      {title}
    </span>
  )}
  <div class="flex flex-wrap gap-8">
    <slot />
  </div>
</div>
