---
import { lunalink } from '@bearstudio/lunalink';

import { buttonVariants } from '@/components/ui/button';
import RootLayout from '@/layouts/RootLayout.astro';
import { ROUTES } from '@/routes.gen';
---

<RootLayout>
  <div class="bg-hero text-hero-foreground min-h-[60vh]">
    <h1 class="font-heading text-accent text-2xl font-bold">
      Design & dev pour vos applis web et mobile
    </h1>
  </div>

  <div class="flex flex-col gap-4 p-4">
    <div class="flex gap-4">
      <a
        href={lunalink(ROUTES.blog.__path, {})}
        class={buttonVariants({ size: 'xl' })}
      >
        Blog
      </a>
      <a
        href={lunalink(ROUTES.styleguide.__path, {})}
        class={buttonVariants({ size: 'xl', variant: 'secondary' })}
      >
        Styleguide
      </a>
    </div>
  </div>
</RootLayout>
