---
import { lunalink } from '@bearstudio/lunalink';
import {
  PiCaretDownBold,
  PiEnvelopeBold,
  PiTranslateDuotone,
} from 'react-icons/pi';

import { cn } from '@/lib/tailwind/utils';
import { Button, buttonVariants } from '@/components/ui/button';
import { Logo } from '@/components/ui/logo';
import { Scratch } from '@/components/ui/scratch';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';
---

<MainLayout>
  <div class="bg-hero text-hero-foreground relative z-0 flex flex-col">
    <!-- Mobile Top Actions -->
    <div
      class="relative z-10 mx-auto flex w-full max-w-5xl justify-between p-4 lg:hidden"
    >
      <Button variant="ghostOnDark" className="opacity-80 hover:opacity-100">
        <PiTranslateDuotone className="opacity-60" />
        Français
        <PiCaretDownBold className="opacity-60" />
      </Button>
      <a
        href="#"
        class={cn(
          buttonVariants({ variant: 'ghostOnDark' }),
          'opacity-80 hover:opacity-100'
        )}
      >
        <PiEnvelopeBold className="opacity-60" />
        Nous contacter
      </a>
    </div>

    <!-- Hero -->
    <div
      class="relative z-10 flex min-h-[65vh] flex-1 flex-col gap-3 overflow-hidden pt-8 pb-24 lg:min-h-[80vh] lg:pt-32"
    >
      <a href="/" class="lg:hidden">
        <Logo className="mx-auto w-54 sm:w-64" />
      </a>
      <div
        class="mx-auto flex w-full max-w-5xl flex-1 items-center justify-center gap-6 p-4 lg:p-6"
      >
        <div
          class="flex flex-1 flex-col justify-center gap-4 max-lg:items-center max-lg:text-center lg:gap-6"
        >
          <h1
            class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance sm:text-4xl md:text-5xl"
          >
            Design & dev pour vos applis web et mobile
          </h1>
          <div
            class="flex max-w-md flex-wrap gap-2 max-lg:items-center max-lg:justify-center"
          >
            <a
              href={lunalink(ROUTES.blog.__path, {})}
              class={cn(
                buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
              )}
            >
              UX/UI Design
            </a>
            <a
              href={lunalink(ROUTES.blog.__path, {})}
              class={cn(
                buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
              )}
            >
              Dev Web
            </a>
            <a
              href={lunalink(ROUTES.blog.__path, {})}
              class={cn(
                buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
              )}
            >
              Dev Mobile
            </a>
            <a
              href={lunalink(ROUTES.blog.__path, {})}
              class={cn(
                buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
              )}
            >
              Boost Projet
            </a>
            <a
              href={lunalink(ROUTES.blog.__path, {})}
              class={cn(
                buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
              )}
            >
              Accompagnement UX
            </a>
            <a
              href={lunalink(ROUTES.blog.__path, {})}
              class={cn(
                buttonVariants({ variant: 'secondaryOnDark', size: 'sm' })
              )}
            >
              Accompagnement CTO
            </a>
          </div>
        </div>
        <div
          class="relative grid flex-[0.8] grid-cols-2 flex-wrap items-center justify-center gap-x-2 gap-y-8 max-lg:hidden"
        >
          <a
            href="#"
            class={cn(
              'text-foreground flex rotate-6 flex-col gap-2 translate-x-2 rounded-sm bg-white p-3 shadow-2xl'
            )}
          >
            <div class="relative h-fit w-fit overflow-hidden rounded-xs">
              <img
                class="block aspect-square object-cover"
                alt=""
                src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              />
              <div
                class="absolute inset-0 shadow-[inset_0_0_4px_rgba(0,0,0,.3)]"
              >
              </div>
            </div>
            <p class="font-heading px-1 text-center text-xs">
              La tanière des ours
            </p>
          </a>

          <a
            href="#"
            class={cn(
              'text-foreground flex -rotate-5 -translate-y-2 flex-col gap-2 rounded-sm bg-white p-3 shadow-2xl'
            )}
          >
            <div class="relative h-fit w-fit overflow-hidden rounded-xs">
              <img
                class="block aspect-square object-cover"
                alt=""
                src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              />
              <div
                class="absolute inset-0 shadow-[inset_0_0_4px_rgba(0,0,0,.3)]"
              >
              </div>
            </div>
            <p class="font-heading px-1 text-center text-xs">
              La tanière des ours
            </p>
          </a>
          <a
            href="#"
            class={cn(
              'text-foreground flex -rotate-4 translate-y-2 flex-col gap-2 rounded-sm bg-white p-3 shadow-2xl'
            )}
          >
            <div class="relative h-fit w-fit overflow-hidden rounded-xs">
              <img
                class="block aspect-square object-cover"
                alt=""
                src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              />
              <div
                class="absolute inset-0 shadow-[inset_0_0_4px_rgba(0,0,0,.3)]"
              >
              </div>
            </div>
            <p class="font-heading px-1 text-center text-xs">
              La tanière des ours
            </p>
          </a>
          <a
            href="#"
            class={cn(
              'text-foreground flex rotate-3 flex-col gap-2 -translate-x-1 -translate-y-2 rounded-sm bg-white p-3 shadow-2xl'
            )}
          >
            <div class="relative h-fit w-fit overflow-hidden rounded-xs">
              <img
                class="block aspect-square object-cover"
                alt=""
                src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              />
              <div
                class="absolute inset-0 shadow-[inset_0_0_4px_rgba(0,0,0,.3)]"
              >
              </div>
            </div>
            <p class="font-heading px-1 text-center text-xs">
              La tanière des ours
            </p>
          </a>
        </div>
      </div>
    </div>
    <img
      src="https://images.unsplash.com/44/MIbCzcvxQdahamZSNQ26_12082014-IMG_3526.jpg?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470"
      alt=""
      class="absolute inset-0 z-0 h-full w-full object-cover opacity-30 mix-blend-overlay grayscale"
    />
    <div class="from-hero/90 to-hero/0 absolute inset-0 z-0 bg-linear-to-b">
    </div>
    <div class="text-background relative z-10 -mt-8 -mb-px flex">
      <Scratch className="" />
      <Scratch className="max-lg:hidden" />
      <Scratch className="max-2xl:hidden" />
    </div>
  </div>
  <!-- -->

  <div class="p-4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
  </div>

  <div class="flex h-[2000px] flex-col gap-4 p-4"></div>
</MainLayout>
