---
import { lunalink } from '@bearstudio/lunalink';
import {
  PiCaretDownBold,
  PiEnvelopeBold,
  PiTranslateDuotone,
} from 'react-icons/pi';

import { cn } from '@/lib/tailwind/utils';
import { Button, buttonVariants } from '@/components/ui/button';
import { Logo } from '@/components/ui/logo';
import { Scratch } from '@/components/ui/scratch';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';
---

<MainLayout>
  <div class="bg-hero text-hero-foreground relative z-0 flex flex-col">
    <!-- Mobile Top Actions -->
    <div
      class="relative z-10 mx-auto flex w-full max-w-5xl justify-between p-4 lg:hidden"
    >
      <Button variant="ghostOnDark" className="opacity-80 hover:opacity-100">
        <PiTranslateDuotone className="opacity-60" />
        Français
        <PiCaretDownBold className="opacity-60" />
      </Button>
      <a
        href="#"
        class={cn(
          buttonVariants({ variant: 'ghostOnDark' }),
          'opacity-80 hover:opacity-100'
        )}
      >
        <PiEnvelopeBold className="opacity-60" />
        Nous contacter
      </a>
    </div>

    <!-- Hero -->
    <div
      class="relative z-10 flex min-h-[65vh] flex-1 flex-col gap-3 overflow-hidden px-8 pt-8 pb-16 lg:min-h-[80vh]"
    >
      <a href="/" class="lg:hidden">
        <Logo className="mx-auto w-54 sm:w-64" />
      </a>
      <div
        class="flex flex-1 flex-col items-center justify-center gap-4 pt-4 pb-4 text-center lg:gap-6"
      >
        <h1
          class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance sm:text-5xl md:text-6xl"
        >
          Design & dev pour vos applis web et mobile
        </h1>
        <p
          class="max-w-[40ch] text-sm leading-relaxed text-balance sm:text-base md:text-lg"
        >
          Expertise en UI/UX et développement d’applications sur mesure.
          De&nbsp;l’idée à la mise en production.
        </p>
        <div
          class="mx-auto flex w-full max-w-3xs flex-col gap-3 pt-3 sm:max-w-sm sm:flex-row sm:gap-5 md:pt-6 lg:pt-8"
        >
          <a
            href={lunalink(ROUTES.blog.__path, {})}
            class={cn(
              buttonVariants({ size: 'xl' }),
              'max-sm:w-full sm:flex-1'
            )}
          >
            Découvrir le blog
          </a>
          <a
            href={lunalink(ROUTES.styleguide.__path, {})}
            class={cn(
              buttonVariants({ size: 'xl', variant: 'secondaryOnDark' }),
              'max-sm:w-full sm:flex-1'
            )}
          >
            Voir le styleguide
          </a>
        </div>
      </div>
    </div>
    <img
      src="https://images.unsplash.com/44/MIbCzcvxQdahamZSNQ26_12082014-IMG_3526.jpg?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470"
      alt=""
      class="absolute inset-0 z-0 h-full w-full object-cover opacity-30 mix-blend-overlay grayscale"
    />
    <div class="from-hero/90 to-hero/0 absolute inset-0 z-0 bg-linear-to-b">
    </div>
    <div class="text-background relative z-10 -mt-8 -mb-px flex">
      <Scratch className="" />
      <Scratch className="max-lg:hidden" />
      <Scratch className="max-2xl:hidden" />
    </div>
  </div>
  <!-- -->

  <div class="p-4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, earum
      doloremque doloribus amet similique blanditiis vitae quidem, qui,
      cupiditate atque molestiae dolores ut adipisci recusandae tempora? Saepe
      optio nemo necessitatibus.
    </p>
  </div>

  <div class="flex h-[2000px] flex-col gap-4 p-4"></div>
</MainLayout>
