---
import {
  PiInfoDuotone,
  PiWarningCircleDuotone,
  PiWarningOctagonDuotone,
} from 'react-icons/pi';

import SEO from '@/components/seo/index.astro';
import { Button } from '@/components/ui/button';
import {
  Callout,
  CalloutDescription,
  CalloutTitle,
} from '@/components/ui/callout';
import { ScratchFull } from '@/components/ui/scratch';
import RootLayout from '@/layouts/root-layout.astro';
---

<RootLayout>
  <SEO
    slot="seo"
    title="Styleguide"
    description="Styleguide"
    alternates={null}
    breadcrumb={null}
    noindex
    nofollow
  />
  <div class="container mx-auto flex flex-col gap-8 p-8">
    <h1 class="font-heading text-4xl font-bold">Styleguide</h1>

    <!-- -->

    <div class="flex flex-col gap-4">
      <h2 class="font-heading text-xl font-bold">Buttons</h2>
      <div class="flex flex-wrap gap-4">
        <Button>default</Button>
        <Button variant="secondary">secondary</Button>
        <Button variant="ghost">ghost</Button>
        <Button variant="link">link</Button>
      </div>
      <div
        class="bg-hero text-hero-foreground flex flex-wrap gap-4 rounded-xl p-4"
      >
        <Button>default</Button>
        <Button variant="secondaryOnDark">secondaryOnDark</Button>
        <Button variant="ghostOnDark">ghostOnDark</Button>
        <Button variant="link">link</Button>
      </div>
    </div>

    <!-- -->

    <div class="flex flex-col gap-4">
      <h2 class="font-heading text-xl font-bold">Scratch</h2>
      <ScratchFull />
      <ScratchFull className="text-accent" />
    </div>

    <!-- -->

    <div class="flex flex-col gap-4">
      <h2 class="font-heading text-xl font-bold">Callout</h2>
      <Callout>
        <CalloutTitle>Title (default)</CalloutTitle>
        <CalloutDescription>Description</CalloutDescription>
      </Callout>

      <Callout>
        <PiInfoDuotone />
        <CalloutTitle>Title (default)</CalloutTitle>
        <CalloutDescription>Description</CalloutDescription>
      </Callout>

      <Callout variant="warning">
        <PiWarningCircleDuotone />
        <CalloutTitle>Title (warning)</CalloutTitle>
        <CalloutDescription>Description</CalloutDescription>
      </Callout>

      <Callout variant="danger">
        <PiWarningOctagonDuotone />
        <CalloutTitle>Title (danger)</CalloutTitle>
        <CalloutDescription>Description</CalloutDescription>
      </Callout>
    </div>
  </div>
</RootLayout>
