---
import { Image } from 'astro:assets';

import { getPeopleCollection } from '@/lib/people';
import { cn } from '@/lib/tailwind/utils';
import ContactCta from '@/components/contact/contact-cta.astro';
import type { Locale } from '@/i18n/utils';

interface Props {
  class?: string;
  locale: Locale;
  title: string;
  subtitle?: string;
  peopleIds?: [string, string];
}

const {
  locale,
  title,
  subtitle,
  peopleIds = ['rudy-baer', 'nhung-duong'],
  class: className,
} = Astro.props;

const people = (await getPeopleCollection({ locale }))
  .filter((person) => {
    if (!person.data._computed.slug || !person.data.picture) return false;
    return peopleIds?.includes(person.data._computed.slug);
  })
  .sort(
    (a, b) =>
      peopleIds.indexOf(a.data._computed.slug ?? '') -
      peopleIds.indexOf(b.data._computed.slug ?? '')
  );
---

<div
  class={cn(
    'bg-brand-800 from-brand-900 to-brand-700 relative flex max-w-prose flex-col gap-4 rounded-lg bg-linear-to-br p-8 text-white max-sm:pr-16 sm:px-24 sm:text-center',
    className
  )}
>
  <div class="relative z-10 flex flex-col gap-2 sm:items-center">
    <h2
      class="font-heading text-accent text-2xl font-bold text-balance md:max-w-[20ch]"
    >
      {title}
    </h2>
    {subtitle && <p class="max-w-[70ch] text-sm text-balance">{subtitle}</p>}
  </div>
  <ContactCta
    locale={locale}
    class="relative z-10 sm:items-center sm:justify-center"
  />
  {
    people
      .slice(0, 2)
      .map((person, index) => (
        <Image
          src={person.data.picture!}
          alt=""
          class={cn(
            'absolute bottom-0 w-44',
            index === 0 && '-right-16 sm:-left-8',
            index === 1 && 'max-sm:hidden sm:-right-8'
          )}
        />
      ))
  }
</div>
