---
import { cn } from '@/lib/tailwind/utils';

interface Props {
  class?: string;
  placement?: 'overlapHero';
}
const { class: className, placement } = Astro.props;
---

<div
  class={cn(
    'relative mx-auto w-full flex flex-col py-12 max-w-5xl px-6 gap-4',
    placement === 'overlapHero' && '-mt-16 pt-0 lg:-mt-24',
    className
  )}
>
  <slot />
</div>
