---
import { ENV_NAME } from 'astro:env/server';
---

{
  !!ENV_NAME && (
    <div class="bg-accent pointer-events-none fixed inset-0 z-[9999] h-[2px] shadow-2xl">
      <span class="bg-accent text-accent-foreground text-2xs fixed top-0 left-2 rounded-b-xs px-1.5 py-0.5 font-medium tracking-widest uppercase">
        {ENV_NAME}
      </span>
    </div>
  )
}
