---
import { getRedirectionUrl } from '@/lib/i18n';
import { defaultLocale, locales, type Locales } from '@/i18n';

// Cas particulier à gerer quand on aura les traductions de content avec des slugs différents à gérer
const currentLocale = (Astro.currentLocale ?? defaultLocale) as Locales;
const pathName = Astro.url.pathname;

const regex = new RegExp('^/' + currentLocale + '(/)?');
const isInTranslationRange = pathName.match(regex);
---

{
  isInTranslationRange && (
    <ul>
      {locales.map((locale) => (
        <li>
          <a href={getRedirectionUrl({ locale, pathName, currentLocale })}>
            Switch {locale.toUpperCase()}
          </a>
        </li>
      ))}
    </ul>
  )
}
