---
import { lunalink } from '@bearstudio/lunalink';
import type { GetStaticPathsOptions } from 'astro';

import { getTeamCollection } from '@/lib/team';
import Pagination from '@/components/pagination.astro';
import SEO from '@/components/seo/index.astro';
import MainLayout from '@/layouts/main-layout.astro';
import { ROUTES } from '@/routes.gen';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const team = await getTeamCollection({ lang: 'en' });
  return paginate(team, { pageSize: 12 });
}

const { page } = Astro.props;
---

<MainLayout>
  <!-- [TODO]: SEO -->
  <SEO slot="seo" title="Team" />
  <div class="flex flex-1 flex-col">
    <div class="mx-auto w-full max-w-screen-lg pb-40">
      <Pagination page={page}>
        <div class="grid gap-4 px-6 md:grid-cols-3">
          {
            page.data.map((person) => (
              <a
                href={lunalink(ROUTES.en.team[':id'].__path, { id: person.id })}
              >
                {person.data.name}
              </a>
            ))
          }
        </div>
      </Pagination>
    </div>
  </div>
</MainLayout>
