---
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbPage,
} from '@/components/ui/breadcrumb';
import Hero from '@/components/ui/hero.astro';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
---

<MainLayout>
  <Hero>
    <div
      class="flex flex-col items-center justify-center gap-2 text-center lg:items-start lg:gap-4 lg:text-left"
    >
      <BreadcrumbBase locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbPage>{t('contact.root.hero.breadcrumb')}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('contact.root.hero.title')}
      </h1>
    </div>
  </Hero>
  <div class="lg:pt-20">PLACEHOLDER</div>
</MainLayout>
