---
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import {
  BreadcrumbBase,
  BreadcrumbItem,
  BreadcrumbPage,
} from '@/components/ui/breadcrumb';
import HeroContent from '@/components/ui/hero-content.astro';
import Hero from '@/components/ui/hero.astro';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
---

<MainLayout>
  <SEO
    alternates={getAlternates('/fr/contact', {})}
    title="Contacter l'équipe du BearStudio à Rouen en Normandie"
  />
  <Hero>
    <HeroContent>
      <BreadcrumbBase slot="breadcrumb" locale={locale}>
        <BreadcrumbItem>
          <BreadcrumbPage>{t('contact.root.hero.breadcrumb')}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbBase>
      <h1
        class="font-heading text-accent max-w-[20ch] text-4xl leading-tight font-bold text-balance md:text-5xl"
      >
        {t('contact.root.hero.title')}
      </h1>
    </HeroContent>
  </Hero>
  <div class="lg:pt-20">PLACEHOLDER</div>
</MainLayout>
