---
import { Image } from 'astro:assets';

import { getLink } from '@/lib/link';
import type { PersonWithComputed } from '@/lib/people';
import { parseAstroLocale } from '@/i18n/utils';

interface Props {
  person: PersonWithComputed;
}

const locale = parseAstroLocale(Astro.currentLocale);
const { person } = Astro.props;
---

<a
  href={getLink('/fr/equipe/:id', locale, {
    id: person.data._computed.slug ?? '#',
  })}
  class="bg-card group border-card-border flex flex-col gap-2 rounded-md border border-b-3 p-2 transition-all hover:-translate-y-1.5 hover:shadow-xl"
>
  <div
    class="from-brand-900 to-brand-800 relative aspect-[10/12] w-full rounded-sm bg-gradient-to-b"
  >
    {
      !!person.data.picture && (
        <Image
          src={person.data.picture}
          alt=""
          class="absolute inset-0 h-full w-full object-cover drop-shadow-lg grayscale transition-all group-hover:-translate-y-[26px] group-hover:scale-120 group-hover:grayscale-0"
          width={500}
          height={600}
        />
      )
    }
  </div>
  <div class="flex flex-1 flex-col gap-1 px-1">
    <h2 class="font-heading leading-tight font-bold sm:text-lg">
      {person.data.name}
    </h2>
    {!!person.data.job && <p class="text-xs">{person.data.job}</p>}
  </div>
</a>
