---
import { MainNavDesktop } from '@/components/nav/main-nav-desktop';
import MainNavMobile from '@/components/nav/main-nav-mobile.astro';
import { parseAstroLocale } from '@/i18n/utils';
import RootLayout from '@/layouts/root-layout.astro';
---

<RootLayout>
  <slot name="seo" slot="seo" />
  <slot name="ld+json" slot="ld+json" />

  <MainNavDesktop
    client:load
    pathname={Astro.url.pathname}
    locale={parseAstroLocale(Astro.currentLocale)}
  />
  <MainNavMobile />

  <main class="flex flex-1 flex-col">
    <slot />
  </main>
</RootLayout>
