---
import MainNavDesktop from '@/components/nav/main-nav-desktop.astro';
import MainNavMobile from '@/components/nav/main-nav-mobile.astro';
import RootLayout from '@/layouts/root-layout.astro';
---

<RootLayout>
  <slot name="seo" slot="seo" />
  <slot name="ld+json" slot="ld+json" />

  <MainNavDesktop />
  <MainNavMobile />

  <main class="flex flex-1 flex-col">
    <slot />
  </main>
</RootLayout>
