---
import RootLayout from '@/layouts/RootLayout.astro';
---

<RootLayout>
  <slot name="seo" slot="seo" />
  <slot name="ld+json" slot="ld+json" />

  <main class="flex flex-1 flex-col">
    <slot />
  </main>
</RootLayout>
