---
import Footer from '@/components/footer/index.astro';
import { MainNavDesktop } from '@/components/nav/main-nav-desktop';
import { MainNavMobile } from '@/components/nav/main-nav-mobile';
import { parseAstroLocale } from '@/i18n/utils';
import RootLayout from '@/layouts/root-layout.astro';
---

<RootLayout>
  <slot name="seo" slot="seo" />
  <slot name="ld+json" slot="ld+json" />
  <slot name="breadcrumb" slot="breadcrumb" />
  <MainNavDesktop
    client:load
    locale={parseAstroLocale(Astro.currentLocale)}
    pathname={Astro.url.pathname}
  />
  <MainNavMobile
    client:load
    locale={parseAstroLocale(Astro.currentLocale)}
    pathname={Astro.url.pathname}
  />

  <main class="flex flex-1 flex-col">
    <slot />
  </main>
  <Footer />
</RootLayout>
