---
import dayjs from 'dayjs';

import '@fontsource-variable/roboto-slab';
import '@fontsource-variable/inter';
import '@fontsource-variable/caveat';

import EnvHint from '@/components/env-hint.astro';

import '@/styles/global.css';

import { Schema } from 'astro-seo-schema';

import { getLink } from '@/lib/link';
import { getSiteUrl } from '@/lib/site/get-site-url';
import { getId } from '@/components/seo/utils';
import { SOCIALS } from '@/content/socials';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);
dayjs.locale(Astro.currentLocale);
---

<html lang={Astro.currentLocale} class="bg-hero text-hero-foreground">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={t('blog.root.title')}
      href={getLink('/fr/blog/rss.xml', locale, {}, true)}
    />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="BearStudio" />
    <link rel="manifest" href="/site.webmanifest" />

    <slot name="seo" />
    <slot name="ld+json" />
    <slot name="breadcrumb" />

    <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'WebSite',
        '@id': getId('website'),
        url: `${getSiteUrl()}/`,
        name: 'BearStudio',
        description: t('home.metadata.description'),
        publisher: {
          '@id': getId('organization'),
        },
        inLanguage: locale,
      }}
    />
    <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'Organization',
        '@id': getId('organization'),
        name: 'BearStudio',
        url: `${getSiteUrl()}/`,
        sameAs: SOCIALS.map((s) => s.href),
      }}
    />
  </head>

  <body
    class="bg-background text-foreground flex min-h-svh flex-col overflow-x-hidden overflow-y-scroll"
  >
    <a
      href="#main-content"
      class="focus:bg-background focus:ring-ring sr-only focus:not-sr-only focus:fixed focus:top-4 focus:left-4 focus:z-50 focus:rounded-md focus:px-4 focus:py-2 focus:text-sm focus:font-medium focus:shadow-lg focus:ring-2 focus:outline-none"
    >
      {t('common.skipToContent')}
    </a>
    <EnvHint />
    <div class="flex flex-1 flex-col overflow-x-hidden">
      <slot />
    </div>
  </body>
</html>
