---
import dayjs from 'dayjs';

import '@fontsource-variable/roboto-slab';
import '@fontsource-variable/inter';
import '@fontsource-variable/caveat';

import EnvHint from '@/components/env-hint.astro';
import { SITE_TITLE } from '@/consts';

import '@/styles/global.css';

dayjs.locale(Astro.currentLocale);
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, interactive-widget=resizes-content"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={SITE_TITLE}
      href={new URL('rss.xml', Astro.site)}
    />
    <meta name="generator" content={Astro.generator} />
    <slot name="seo" />
    <slot name="ld+json" />
    <slot name="breadcrumb" />
  </head>

  <body
    class="bg-background text-foreground flex min-h-svh flex-col overflow-x-hidden overflow-y-scroll"
  >
    <EnvHint />
    <slot />
  </body>
</html>
