---
import { cva } from 'class-variance-authority';
import { PiDotsThreeOutlineVerticalDuotone } from 'react-icons/pi';

import { getMainMenuMobileItems } from '@/content/menus';
import { defaultLocale, type Locale } from '@/i18n';

const mainNavMobileItemVariants = cva(
  'text-2xs flex flex-1 flex-col items-center rounded-md py-1 justify-center gap-0.5 [&>svg]:size-6',
  {
    variants: {
      variant: {
        default: '',
        active: 'text-accent',
      },
    },
    defaultVariants: {
      variant: 'default',
    },
  }
);

const currentLocale = (Astro.currentLocale ?? defaultLocale) as Locale;
---

<div
  class="pointer-events-none fixed right-0 bottom-0 left-0 z-20 h-22 p-3 lg:hidden"
>
  <div
    class="border-hero/20 bg-hero/80 text-hero-foreground pointer-events-auto mx-auto flex h-full w-full max-w-lg items-center justify-between rounded-2xl border border-b-3 bg-linear-to-b px-2 backdrop-blur-md"
  >
    <div class="flex w-full gap-px">
      {
        getMainMenuMobileItems('primary').map((item) => {
          const isActive = item.exact
            ? item.getHref(currentLocale) === Astro.url.pathname
            : Astro.url.pathname.startsWith(item.getHref(currentLocale));
          const Icon = isActive ? item.iconActive : item.icon;
          return (
            <a
              href={item.getHref(currentLocale)}
              class={mainNavMobileItemVariants({
                variant: isActive ? 'active' : 'default',
              })}
            >
              <Icon />
              {item.label}
            </a>
          );
        })
      }
      <button type="button" class={mainNavMobileItemVariants()}>
        <PiDotsThreeOutlineVerticalDuotone />
        Plus
      </button>
    </div>
  </div>
</div>
