---
import { cn } from '@/lib/tailwind/utils';

interface Props {
  value: string;
  title?: string;
  label?: string;
  class?: string;
}

const { value, title, label, class: className } = Astro.props;
---

<div
  data-slot="stat-card"
  class={cn(
    'not-prose inline-flex flex-col items-center justify-center gap-1 self-stretch rounded-md bg-brand-700 px-6 py-5 text-center border border-brand-600',
    className
  )}
>
  <p
    data-slot="stat-card-value"
    class="font-heading text-brand-100 text-3xl font-semibold"
  >
    {value}
  </p>

  {
    Astro.slots.has('visual') ? (
      <div
        data-slot="stat-card-visual"
        class="text-accent flex items-center gap-0.5"
      >
        <slot name="visual" />
      </div>
    ) : null
  }

  {
    title ? (
      <p
        data-slot="stat-card-title"
        class="text-brand-100 text-sm font-semibold"
      >
        {title}
      </p>
    ) : null
  }

  {
    label ? (
      <p data-slot="stat-card-label" class="text-brand-300 text-xs font-light">
        {label}
      </p>
    ) : null
  }
</div>
