---
import { cn } from '@/lib/tailwind/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  data-slot="testimonial-list"
  class={cn('not-prose flex gap-4 overflow-x-auto pb-2', className)}
>
  <slot />
</div>
