---
import { match } from 'ts-pattern';

import { getLink } from '@/lib/link';
import { getSiteUrl } from '@/lib/site/get-site-url';
import { breadcrumbEntries } from '@/components/breadcrumb/utils';
import Container from '@/components/container.astro';
import HeroContent from '@/components/hero/hero-content.astro';
import Hero from '@/components/hero/hero.astro';
import Prose from '@/components/prose.astro';
import SEO from '@/components/seo/index.astro';
import { getAlternates } from '@/components/seo/utils';
import { getTranslationFn, parseAstroLocale } from '@/i18n/utils';
import MainLayout from '@/layouts/main-layout.astro';

const locale = parseAstroLocale(Astro.currentLocale);
const t = getTranslationFn(locale);

const breadcrumb = breadcrumbEntries(locale)((entry) => [
  entry({
    label: t('legal.root.hero.title'),
    path: '/fr/mentions-legales',
    params: {},
  }),
]);
---

<MainLayout>
  <SEO
    slot="seo"
    title={t('legal.root.hero.title')}
    description={t('legal.root.hero.description')}
    alternates={getAlternates('/fr/mentions-legales', {})}
    breadcrumb={breadcrumb}
  />
  <Hero>
    <HeroContent
      title={t('legal.root.hero.title')}
      description={t('legal.root.hero.description')}
      breadcrumb={breadcrumb}
    />
  </Hero>
  <Container class="py-0">
    <Prose>
      {
        match(locale)
          .with('fr', () => (
            <>
              <section>
                <h2>Propriétaire</h2>
                <p>
                  Le site <strong>{getSiteUrl()}</strong> est édité par le{' '}
                  <strong>BearStudio</strong>, SAS au capital social de 10 000 €
                </p>
                <p>
                  Inscrite au registre du commerce et des sociétés sous le
                  numéro
                  <strong class="whitespace-nowrap">
                    SIRET 819 733 759 00016
                  </strong>
                </p>
                <p>
                  dont le siège social se situe au 1900 Route de Cailly,
                  Saint-André-sur-Cailly 76690.
                </p>
                <ul>
                  <li>Téléphone : 07 49 36 04 36</li>
                  <li>Mail : contact@bearstudio.fr</li>
                </ul>
                <p>
                  Le directeur de la publication est{' '}
                  <a
                    href={getLink('/fr/equipe/:id', locale, {
                      id: 'rudy-baer',
                    })}
                  >
                    Rudy Baer
                  </a>
                </p>
              </section>
              <section>
                <h2>Hébergeur</h2>
                <p>
                  Le site est hébergé par la société <strong>Vercel</strong>
                </p>
                <p>
                  dont le siège social se situe à 440 N Barranca Avenue #4133
                  Covina, CA 91723 United States
                </p>
              </section>
              <section>
                <h2>Propriété intellectuelle </h2>
                <p>
                  Tous les contenus présents sur le site Bearstudio, tels que
                  les textes, images, logos, graphismes, vidéos et autres
                  éléments, sont protégés par les droits d’auteur et la
                  législation sur la propriété intellectuelle. Toute
                  reproduction ou représentation, en tout ou en partie, de ces
                  contenus sans autorisation préalable est interdite.
                </p>

                <h2>Collecte des données personnelles</h2>
                <p>
                  La société Bearstudio s’engage à respecter la confidentialité
                  des informations personnelles communiquées par les
                  utilisateurs du site. Ces données sont collectées dans le
                  respect de la réglementation applicable, notamment le
                  Règlement Général sur la Protection des Données (RGPD).
                </p>

                <h2>Droit applicable</h2>
                <p>
                  Le site Bearstudio est régi par le droit français. En cas de
                  litige, les tribunaux français seront compétents.
                </p>

                <h2>Protection des données personnelles</h2>
                <p>
                  Pour toute question relative à la collecte ou au traitement de
                  vos données personnelles, ou pour exercer vos droits (accès,
                  rectification, suppression, opposition), vous pouvez contacter
                  notre référent à la protection des données à l’adresse
                  suivante : contact@bearstudio.fr
                </p>
              </section>
            </>
          ))
          .with('en', () => (
            <>
              <section>
                <h2>Owner</h2>
                <p>
                  This site <strong> {getSiteUrl()}</strong> is published by{' '}
                  <strong>BearStudio</strong>, a simplified joint-stock company
                  (SAS) with a share capital of €10,000
                </p>
                <p>
                  Registered with the Trade and Companies Register under the
                  number
                  <strong>SIRET 819 733 759 00016</strong>
                </p>
                <p>
                  with its registered office located at 1900 Route de Cailly,
                  Saint-André-sur-Cailly 76690.
                </p>
                <ul>
                  <li>Phone: 07 49 36 04 36</li>
                  <li>Email: contact@bearstudio.fr</li>
                </ul>
                <p>
                  The publication director is{' '}
                  <a
                    href={getLink('/fr/equipe/:id', locale, {
                      id: 'rudy-baer',
                    })}
                  >
                    Rudy Baer
                  </a>
                </p>
              </section>

              <section>
                <h2>Hosting</h2>
                <p>
                  This website is hosted by the <strong>Vercel Inc</strong>{' '}
                  company
                </p>
                <p>
                  Headquarters are located at 440 N Barranca Avenue #4133
                  Covina, CA 91723 United States
                </p>
              </section>
              <section>
                <h2>Intellectual Property</h2>
                <p>
                  All content on the BearStudio website, such as texts, images,
                  logos, graphics, videos, and other elements, is protected by
                  copyright and intellectual property legislation. Any
                  reproduction or representation, in whole or in part, of this
                  content without prior authorization is prohibited.
                </p>

                <h2>Collection of Personal Data</h2>
                <p>
                  BearStudio is committed to respecting the confidentiality of
                  personal information provided by users of the site. This data
                  is collected in compliance with applicable regulations,
                  including the General Data Protection Regulation (GDPR).
                </p>

                <h2>Applicable Law</h2>
                <p>
                  The BearStudio website is governed by French law. In the event
                  of a dispute, the French courts shall have jurisdiction.
                </p>

                <h2>Protection of Personal Data</h2>
                <p>
                  For any questions regarding the collection or processing of
                  your personal data, or to exercise your rights (access,
                  rectification, deletion, objection), you can contact our data
                  protection officer at the following address:
                  contact@bearstudio.fr
                </p>
              </section>
            </>
          ))
          .exhaustive()
      }
    </Prose>
  </Container>
</MainLayout>
