---
import { cn } from '@/lib/tailwind/utils';
import { Breadcrumb } from '@/components/breadcrumb/ui';
import { parseAstroLocale } from '@/i18n/utils';

import type { BreadcrumbEntry } from '../breadcrumb/utils';

interface Props {
  class?: string;
  breadcrumb: Array<BreadcrumbEntry> | null;
}
const { class: className, breadcrumb } = Astro.props;
const locale = parseAstroLocale(Astro.currentLocale);
---

<div
  class={cn(
    'flex flex-col items-start justify-center gap-2 text-left lg:gap-4',
    className
  )}
>
  {
    !!breadcrumb?.length && (
      <Breadcrumb slot="breadcrumb" locale={locale} entries={breadcrumb} />
    )
  }
  <div class="flex w-full flex-col gap-2">
    <slot />
  </div>
</div>
