---
import { lunalink } from '@bearstudio/lunalink';

import { cn } from '@/lib/tailwind/utils';
import { Logo } from '@/components/ui/logo';
import { Scratch } from '@/components/ui/scratch';
import { parseAstroLocale } from '@/i18n/utils';
import { ROUTES } from '@/routes.gen';

import { LanguageSwitcher } from '../nav/language-switcher';
import { NavPrimaryButton } from '../nav/nav-primary-button';

interface Props {
  contentClassName?: string;
}
const { contentClassName } = Astro.props;
---

<div class="bg-hero text-hero-foreground relative z-0 flex flex-col">
  <!-- Mobile Top Actions -->
  <div
    class="relative z-10 mx-auto flex w-full max-w-5xl justify-between p-4 lg:hidden"
  >
    <LanguageSwitcher
      client:load
      locale={parseAstroLocale(Astro.currentLocale)}
    />
    <NavPrimaryButton locale={parseAstroLocale(Astro.currentLocale)} />
  </div>

  <!-- Content -->
  <div
    class={cn(
      'relative z-10 flex min-h-[50vh] flex-1 flex-col gap-10 overflow-hidden pt-8 pb-24 lg:min-h-[40vh] lg:pt-32',
      contentClassName
    )}
  >
    <div
      class="mx-auto flex w-full max-w-5xl flex-1 flex-col justify-center gap-6 px-4 lg:px-6"
    >
      <a
        href={lunalink(
          ROUTES[parseAstroLocale(Astro.currentLocale)].__path,
          {}
        )}
        class="lg:hidden"
      >
        <Logo className="mx-auto w-38 sm:w-52" />
      </a>

      <slot />
    </div>
  </div>

  <!-- Background -->
  <img
    src="https://images.unsplash.com/44/MIbCzcvxQdahamZSNQ26_12082014-IMG_3526.jpg?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470"
    alt=""
    class="absolute inset-0 z-0 h-full w-full object-cover opacity-30 mix-blend-overlay grayscale"
  />
  <div class="from-hero/90 to-hero/0 absolute inset-0 z-0 bg-linear-to-b"></div>

  <!-- Scratch -->
  <div class="text-background relative z-10 -mt-8 -mb-px flex">
    <Scratch className="" />
    <Scratch className="max-lg:hidden" />
    <Scratch className="max-2xl:hidden" />
  </div>
</div>
