---
import { cn } from '@/lib/tailwind/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn('flex flex-col gap-6', className)}>
  <slot />
</div>
