---
import { cn } from '@/lib/tailwind/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<h2 class={cn('font-heading text-4xl font-normal text-foreground', className)}>
  <slot />
</h2>
